table
{
    table-layout: fixed;
    width: 100%;
    border: solid;
    border-collapse: collapse;
}
.this 
{
    text-align: center;
}
td
{
    border: solid;
}
h2
{
    text-align: center;
}
h1
{
    text-align: center;
    font-size: 50px;
}
body
{
    background-color: #faf3e0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}