<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Request Form</title>
</head>
<body>
    <h1>Class Request Form</h1>

    <form action="/submit" method="post">

        {% for i in range(1,8) %}
        <h2>Class {{i}}</h2>
        {% set firstname = 'class%d_first_choice' % i %}
        {% set secondname = 'class%d_second_choice' % i %}
        <label for={{firstname}}>First Choice:</label>
        <!-- <input type="text" id={{firstname}} name={{firstname}} required><br> -->
        <select name={{firstname}} id={{firstname}} required>
            <option value="">Select Class</option>
            {% for j in range(c|length)%}
            <option value={{j}}>{{c[j]}}</option>
            {% endfor %}
        </select><br>

        <label for={{secondname}}>Second Choice:</label>
        <!-- <input type="text" id={{secondname}} name={{secondname}} required><br> -->
        <select name={{secondname}} id={{secondname}} required>
            <option value="">Select Class</option>
            {% for j in range(c|length)%}
            <option value={{j}}>{{c[j]}}</option>
            {% endfor %}
        </select><br>
        {% endfor%}
        
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>