<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/schedule.css">
    <title>Student Schedule</title>
</head>
<body>
    <h1>Student Schedule for {{current_user.username}}</h1>
        <table>
            <tr>
                {% for i in range(s|length) %}
                <td>
                    <div>
                        <h2>Period {{i+1}}</h2><br>
                    </div>
                    <div class="this">
                    Subject: {{c[s[i]["subject"]]}}<br>
                    Teacher: {{s[i]["teacher"]}}<br>
                    Room: {{s[i]["room"]}}<br>
                    </div>
                </td>
                {% endfor%}    
            </tr>
        </table>
</body>
</html>